<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwray.iw.points.mapper.PointsTaskPlanMapper">

    <select id="queryPlanTask" resultType="com.itwray.iw.points.model.entity.PointsTaskPlanEntity">
        select *
        from points_task_plan
        where deleted = 0 and status = #{status} and next_plan_date = #{nextPlanDate}
        limit #{pageStart}, #{pageSize}
    </select>
</mapper>
