<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwray.iw.bookkeeping.mapper.BookkeepingRecordsYearlyStatisticsMapper">

    <select id="statisticsMaxContinuousDays"
            resultType="com.itwray.iw.bookkeeping.model.vo.yearly.overview.BookkeepingRecordsOverviewHabitsVo">
        WITH base AS (
        SELECT
        record_date,
        ROW_NUMBER() OVER (ORDER BY record_date) AS rn
        FROM (
        SELECT DISTINCT record_date
        FROM bookkeeping_records
        WHERE deleted = 0
        <if test="ignoreNotStatistics != null and ignoreNotStatistics == 0">
            AND is_statistics = 1
        </if>
        AND record_date BETWEEN #{startDate} AND #{endDate}
        ORDER BY record_date
        ) x
        ),
        grp AS (
        SELECT
        record_date,
        DATEDIFF(record_date, '1970-01-01') - rn AS grp_id
        FROM base
        ),
        ranges AS (
        SELECT
        MIN(record_date) AS maxContinuousStartDate,
        MAX(record_date) AS maxContinuousEndDate,
        COUNT(*) AS maxContinuousDays
        FROM grp
        GROUP BY grp_id
        )
        SELECT *
        FROM ranges
        ORDER BY maxContinuousDays DESC
        LIMIT 1
    </select>
    <select id="statisticsRecordingDays" resultType="java.lang.Integer">
        SELECT
        COUNT(DISTINCT record_date) AS record_days
        FROM bookkeeping_records
        WHERE deleted = 0
        <if test="ignoreNotStatistics != null and ignoreNotStatistics == 0">
            AND is_statistics = 1
        </if>
        AND record_date BETWEEN #{startDate} AND #{endDate}
    </select>
    <select id="statisticsPeakMonth"
            resultType="com.itwray.iw.bookkeeping.model.vo.yearly.overview.BookkeepingRecordsOverviewHabitsVo">
        WITH monthly AS (
        SELECT
        MONTH(record_date) AS peakMonth,
        COUNT(*) AS peakCount
        FROM bookkeeping_records
        WHERE deleted = 0
        <if test="ignoreNotStatistics != null and ignoreNotStatistics == 0">
            AND is_statistics = 1
        </if>
        AND record_date BETWEEN #{startDate} AND #{endDate}
        GROUP BY YEAR(record_date), MONTH(record_date)
        )
        SELECT *
        FROM monthly
        ORDER BY peakCount DESC
        LIMIT 1
    </select>
    <select id="statisticsMissingCount" resultType="java.lang.Integer">
        SELECT COUNT(*) AS missing_count
        FROM bookkeeping_records
        WHERE deleted = 0
        <if test="ignoreNotStatistics != null and ignoreNotStatistics == 0">
            AND is_statistics = 1
        </if>
        AND record_date BETWEEN #{startDate} AND #{endDate}
        AND DATE(record_date) != DATE(create_time)
    </select>
    <select id="statisticsTagConsume"
            resultType="com.itwray.iw.bookkeeping.model.vo.yearly.consume.BookkeepingRecordsConsumeTagsVo">
        SELECT
        r.dict_id AS dictId,
        COUNT(*) AS count,
        SUM(b.amount) AS amount
        FROM base_dict_business_relation r
        JOIN bookkeeping_records b
        ON r.business_id = b.id
        WHERE r.business_type = 4001
        <if test="recordCategories != null and recordCategories.size > 0">
            AND b.record_category in
            <foreach collection="recordCategories" item="item" open="(" close=")" separator=",">#{item}</foreach>
        </if>
        AND b.deleted = 0
        <if test="ignoreNotStatistics != null and ignoreNotStatistics == 0">
            AND b.is_statistics = 1
        </if>
        AND b.record_date BETWEEN #{startDate} AND #{endDate}
        GROUP BY r.dict_id
        ORDER BY count DESC;
    </select>
    <select id="statisticsMaxDay"
            resultType="com.itwray.iw.bookkeeping.model.vo.yearly.consume.BookkeepingRecordsConsumeInsightsVo">
        SELECT record_date AS maxDayDate, SUM(amount) AS maxDayAmount
        FROM bookkeeping_records
        WHERE deleted = 0
        <if test="recordCategories != null and recordCategories.size > 0">
            AND record_category in
            <foreach collection="recordCategories" item="item" open="(" close=")" separator=",">#{item}</foreach>
        </if>
        <if test="ignoreNotStatistics != null and ignoreNotStatistics == 0">
            AND is_statistics = 1
        </if>
        AND record_date BETWEEN #{startDate} AND #{endDate}
        GROUP BY record_date
        ORDER BY maxDayAmount DESC
        LIMIT 1
    </select>
    <select id="statisticsMaxMonth"
            resultType="com.itwray.iw.bookkeeping.model.vo.yearly.consume.BookkeepingRecordsConsumeInsightsVo">
        SELECT MONTH(record_date) AS maxMonthName, SUM(amount) AS maxMonthAmount
        FROM bookkeeping_records
        WHERE deleted = 0
        <if test="recordCategories != null and recordCategories.size > 0">
            AND record_category in
            <foreach collection="recordCategories" item="item" open="(" close=")" separator=",">#{item}</foreach>
        </if>
        <if test="ignoreNotStatistics != null and ignoreNotStatistics == 0">
            AND is_statistics = 1
        </if>
        AND record_date BETWEEN #{startDate} AND #{endDate}
        GROUP BY MONTH(record_date)
        ORDER BY maxMonthAmount DESC
        LIMIT 1
    </select>

</mapper>
